.login {
  .hp--hero {
    position: relative;
    background-image: url("../../static/img/wav.gif");
    background-repeat: repeat-x;
    background-position: center;

    background-size: contain;

    padding-bottom: 40px;
    display: flex;

    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  // Rest of your styles...
}
